<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.sehirbaz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Introduction"
            android:screenOrientation="landscape"
            android:theme="@style/AppFullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Game"
            android:screenOrientation="landscape"
            android:theme="@style/AppFullScreenTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".StartGame"
            android:screenOrientation="landscape"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".Result"
            android:screenOrientation="landscape"
            android:theme="@style/AppFullScreenTheme" />
        <activity android:name=".Win"
            android:screenOrientation="landscape"
            android:theme="@style/AppFullScreenTheme"></activity>
    </application>

</manifest>